* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #50555a;
  padding: 100px 20px;
  /*background-color: #81974F;*/
}

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.bg-color {
  background-color: #81974F;
  transition-duration: .5s;
}

.text-color {
  color: #81974F;
  transition-duration: .5s;
}

footer {
  padding: 40px 0;
  text-align: center;
  opacity: .33;
  color: white;
}

.wrapper {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.tabs > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 30px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 50% 50%;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: .5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 10px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: white;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}
.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.colors {
  text-align: center;
  padding-top: 20px;
}
.colors > li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.colors > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.colors > li.active-color {
  -webkit-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid rgba(0, 0, 0, 0.15);
}
.colors > li:nth-child(1) {
  background-color: #2ecc71;
}
.colors > li:nth-child(2) {
  background-color: #D64A4B;
}
.colors > li:nth-child(3) {
  background-color: #8e44ad;
}
.colors > li:nth-child(4) {
  background-color: #81974F;
}
.colors > li:nth-child(5) {
  background-color: #bdc3c7;
}

/*Todd Code*/

li.noclick{
    pointer-events: none;
}

h1,h2,h3,h4{
    cursor: default;
}

.section-color {
  color: text-color;
  color: #81974F;
  transition-duration: .5s;
}
.vReviewTitle{
    float: left;
    margin-left: 5%;
}

.vLogoContainer{
    width: 50%;
    height: 75px;
    margin: auto;
}
.vLogo{
    background: url("../images/vreviewlogo.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}



/*Logos*/
.logoWelcome{
    background: url("../images/welcome.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 70px;
    margin:auto;
}
.logoAccount{
    background: url("../images/account.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 70px;
    margin:auto;
}
.logoCreateRoom{
    background: url("../images/create.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 70px;
    margin:auto;
}
.logoPin{
    background: url("../images/pin.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 70px;
    margin:auto;
}

/*Welcome Info*/
.welcomeInfoContainer{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.welcomeInfoContainer h2{
    padding-top: 10px;
}

.welcomeInfo{
    width: 90%;
    float: left;
    background-color: #609DB4;
    color: white;
    border-radius: 30px;
    padding-top:  20px;
    padding-left:  10px;
    padding-right:  10px;
}
.welcomeInfoText{
    padding-left:  10px;
    padding-right:  10px;
}
/*End Welcome Info*/

/*Login*/
.loginContainer{
    width: 50%;
    float: left;
    height: 100px;
}
/*End Login*/

/*Sign In*/
.signInContainer{
    float: left;
    width: 48%;
}
.signInBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.signInBtn h4{
    margin-top: 10px;
}
.signInBtn:hover {
	background-color: #ECC261;
}
/*End Sign In*/

/*Sign Up*/
.signUpContainer{
    float: right;
    width: 48%;
}
.signUpBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.signUpBtn h4{
    margin-top: 10px;
}
.signUpBtn:hover {
	background-color: #ECC261;
}
/*End Sign Up*/

/*ACCOUNTS PAGE*/

/*Account Info*/
.accountInfoContainer{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.accountInfoContainer h2{
    padding-top: 10px;
}

.accountInfo{
    width: 90%;
    float: left;
    background-color: #609DB4;
    color: white;
    border-radius: 30px;
}
.accountInfoText{
    padding-left:  10px;
    padding-right:  10px;
    font-size: 20px;
}
/*End Account Info*/

/*Account Options*/
.accountOptionsContainer{
    width: 50%;
    float: left;
    height: 100px;
}
/*End Account Options*/

/*Create Room*/
.createRoomContainer{
    float: left;
    width: 32%;
}
.createRoomBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.createRoomBtn h4{
}

.createRoomBtn:hover {
	background-color: #ECC261;
}
/*End Create Room*/

/*My Rooms*/
.myRoomsContainer{
    float: left;
    width: 32%;
    margin:0 2%;
}
.myRoomsBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.myRoomsBtn h4{
    margin-top: 10px;
}
.myRoomsBtn:hover {
	background-color: #ECC261;
}
/*End My Rooms*/

/*Change Password*/
.changePasswordContainer{
    float: left;
    width: 32%;
}
.changePasswordBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.changePasswordBtn h4{
}
.changePasswordBtn:hover {
	background-color: #ECC261;
}
/*End Change Password*/

/*ROOM CREATION PAGE*/

/*Room Creation Input*/
.roomCreationInputContainer{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
/*End Account Options*/

/*Create Room*/
.roomCreationContainer{
    float: left;
    width: 32%;
}
.roomCreationInfo{
    width: 90%;
    float: left;
    background-color: #609DB4;
    color: white;
    border-radius: 30px;
}
.roomCreationBtn{
    height: 50px;
    background-color: #609DB4;
    color: white;
    border-radius: 30px;
}
.roomCreationBtn h4{
    margin-top: 13px;
}
.roomCreationBtn:hover {
	background-color: #ECC261;
}
/*End Create Room*/

/*Room Creation File Upload*/
.roomCreationFileContainer{
    width: 50%;
    float: left;
    height: 100px;
}
/*End Account Options*/

/*Create Room*/
.fileUploadContainer{
    /*float: left;
    width: 50%;*/
}
.fileUploadBtn{
    display: none;
    height: 50px;
    background-color: #609DB4;
    color: white;
    border-radius: 30px;
}
.fileUploadBtn h4{
    margin-top: 13px;
}
/*End Create Room*/

/*Done Button*/
.doneBtn{
    display: none;
    height: 50px;
    width: 50%;
    background-color: #fff;
    color: white;
    border-radius: 30px;
    margin-top: 40%;
    margin-left: 25%;
    border-color: #ECC261;
    border-style: solid;
    color: #523F2C;
}
.doneBtn h4{
    margin-top: 13px;
}
.doneBtn:hover {
	background-color: #ECC261;
}
/*End Done Button*/

/*PIN PAGE*/

/*Pin Info*/
.pinContainer{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.pinContainer h2{
    padding-top: 10px;
}

.pinInfo{
    width: 90%;
    float: left;
    color: white;
    border-radius: 30px;
}
.pinTextTop{
    padding-top:  20px;
    padding-left:  15px;
    padding-right:  15px;
    padding-bottom:  20px;
    margin-bottom: 10px;
    background-color: #609DB4;
    border-radius: 30px;
}
.pinTextBottom{
    padding-top:  20px;
    padding-left:  15px;
    padding-right:  15px;
    padding-bottom:  20px;
    background-color: #609DB4;
    border-radius: 30px;
}
/*End Pin Info*/

/*Double Check*/
.doubleCheckContainer{
    width: 50%;
    float: left;
    height: 100px;
}
/*End Double Check*/

/*Perfect*/
.perfectContainer{
    float: left;
    width: 48%;
}
.perfectBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.perfectBtn h4{
    margin-top: 10px;
}
.perfectBtn:hover {
	background-color: #ECC261;
}
/*End Perfect*/

/*Go Back*/
.goBackContainer{
    float: right;
    width: 48%;
}
.goBackBtn{
    height: 50px;
    background-color: #fff;
    color: #523F2C;
    border-radius: 30px;
    border-color: #ECC261;
    border-style: solid;
}
.goBackBtn h4{
    margin-top: 10px;
}
.goBackBtn:hover {
	background-color: #ECC261;
}
/*End Go Back*/